name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [ lts/*]

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node
        with:
          NODE_VERSION: ${{ matrix.node-version }}
