name: Release
on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read
  checks: write

jobs:
  deploy-npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
        with:
          NODE_VERSION: lts/*
          REGISTRY_URL: 'https://registry.npmjs.org'
      - run: npm publish
        name: publish on npm

  deploy-GPR:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
        with:
          NODE_VERSION: lts/*
          REGISTRY_URL: 'https://npm.pkg.github.com'
          SCOPE: ${{ github.repository_owner }}
      - run: npx npe name @${{ github.event.repository.full_name }}
        name: change scope name
      - run: npm publish --access public --registry https://npm.pkg.github.com
        name: publish on GPR
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}